{
  "ICAADonationAPI": {
    "OTEL_COLLECTOR_ENDPOINT": "jaeger:4317",
    "STRIPE_SECRET_KEY": "sk_test_...",
    "STRIPE_ENDPOINT_SECRET": "whsec_...",
    "STRIPE_RETURN_URL": "http://localhost:5173/donation/success"
  }
}
