openapi: 3.0.0
info:
  title: ICAA Donation API
  version: 1.0.0
  description: An API for accepting donations to ICAA via Stripe.
servers:
  - url: https://api.icaa.world/
    description: Production server
  - url: http://localhost:3000/
    description: Local dev server
paths:
  /donations/v1:
    get:
      summary: List donations
      description: Admin-only endpoint to list all donations with pagination.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: limit
          in: query
          description: Maximum number of donations to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Pagination cursor for fetching the next page
          required: false
          schema:
            type: string
        - name: created_after
          in: query
          description: Filter donations created after this date (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          description: Filter donations created before this date (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of donations returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationListResponse'
        '400':
          description: Invalid parameters (e.g., invalid cursor).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - missing or invalid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - user is not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create a donation
      description: Creates a new donation and returns a Stripe checkout session URL.
      security: []
      requestBody:
        description: Donation details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDonationRequest'
      responses:
        '200':
          description: Checkout session created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDonationResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /donations/v1/per-state:
    get:
      summary: Get donation aggregations by state
      description: Admin-only endpoint to aggregate donations by country and state/province.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: created_after
          in: query
          description: Filter donations created after this date (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          description: Filter donations created before this date (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Aggregation results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationAggregationResponse'
        '400':
          description: Invalid date range (created_before is before created_after).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - missing or invalid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - user is not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    icaaCookieAuth:
      type: apiKey
      in: cookie
      name: ICAA_ACCESS_TOKEN
      description: ICAA access token cookie
    icaaBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: ICAA access token in Authorization header

  schemas:
    CreateDonationRequest:
      type: object
      required:
        - amount
        - currency
        - donorEmail
      properties:
        amount:
          type: integer
          description: Amount in smallest currency unit (e.g., cents for USD)
          minimum: 100
          example: 5000
        currency:
          type: string
          description: ISO 4217 currency code
          example: "USD"
        donorEmail:
          type: string
          format: email
          example: "donor@example.com"

    CreateDonationResponse:
      type: object
      required:
        - clientSecret
      properties:
        clientSecret:
          type: string
          description: Stripe PaymentIntent client secret for embedded checkout
          example: "pi_1234567890_secret_xxxxxxxx"

    DonationAggregationResponse:
      type: object
      required:
        - aggregations
      properties:
        aggregations:
          type: array
          description: List of donation aggregations by location and currency
          items:
            $ref: '#/components/schemas/AggregationItem'
          example:
            - country: "US"
              state: "MA"
              money:
                amount: 15000
                currency: "USD"
              count: 3
            - country: "US"
              state: "CA"
              money:
                amount: 25000
                currency: "USD"
              count: 5
            - country: "CA"
              state: "ON"
              money:
                amount: 5000
                currency: "CAD"
              count: 2

    AggregationItem:
      type: object
      required:
        - country
        - state
        - money
        - count
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: "US"
        state:
          type: string
          description: State or province code
          example: "MA"
        money:
          $ref: '#/components/schemas/Money'
        count:
          type: integer
          description: Number of donations in this aggregation
          example: 3

    DonationListResponse:
      type: object
      required:
        - items
        - nextCursor
      properties:
        items:
          type: array
          description: List of donations
          items:
            $ref: '#/components/schemas/DonationItem'
        nextCursor:
          type: string
          description: Cursor for the next page (null if no more results)
          nullable: true
          example: "eyJpZCI6InBheV8xMjMifQ=="
        totalCount:
          type: integer
          description: Total number of donations matching the filter (if available)
          nullable: true
          example: 150

    DonationItem:
      type: object
      required:
        - id
        - amount
        - currency
        - status
        - createdAt
      properties:
        id:
          type: string
          description: Payment ID
          example: "pay_1234567890"
        amount:
          type: integer
          description: Amount in minor currency units
          example: 15000
        currency:
          type: string
          description: ISO 4217 currency code
          example: "USD"
        status:
          type: string
          description: Payment status
          example: "succeeded"
        donorEmail:
          type: string
          format: email
          description: Email of the donor (if available)
          nullable: true
          example: "donor@example.com"
        billingDetails:
          $ref: '#/components/schemas/BillingDetails'
        createdAt:
          type: string
          format: date-time
          description: When the donation was created
          example: "2024-01-15T10:30:00Z"
        metadata:
          type: object
          description: Payment metadata
          additionalProperties:
            type: string

    BillingDetails:
      type: object
      properties:
        name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        address:
          $ref: '#/components/schemas/Address'

    Address:
      type: object
      properties:
        city:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        line1:
          type: string
          nullable: true
        line2:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        state:
          type: string
          nullable: true

    Money:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: integer
          description: Amount in minor currency units (e.g., cents)
          example: 15000
        currency:
          type: string
          description: ISO 4217 currency code
          example: "USD"

    ErrorCode:
      type: string
      enum:
        - InternalError
        - BadRequest
        - NotFound
        - InputValidationError
        - AuthError
        - InvalidDateRange
        - InvalidCursor
      example: InternalError

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
          example: "Invalid donation amount"
